.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonHome {
  
  
  text-decoration: none

}

#login{
  
  text-align: left;
  display: flex;
  justify-content: center;
  margin-top: 3%;

}

#registro{
  
  text-align: left;
  display: flex;
  justify-content: center;
  margin-top: 3%;

}

#verificacion{
    
    text-align: left;
    display: flex;
    justify-content: center;
    margin-top: 3%;
  
}

#homeprueba{
      
      text-align: left;
      display: flex;
      justify-content: center;
      margin-top: 3%;
    
}

/* SON LAS TARJETAS QUE VAN A PARECIENDO EN LAS BUSQUEDAS */
.tarjetasbusquedas{
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

tr{
  color: black;
  
}
td{
  color: black;
}

.page-item{
  text-decoration: none;
}

#perfil{
  text-align: left;
      display: flex;
      justify-content: center;
      margin-top: 3%;
}